@media (max-width: 37.5rem) {
  header {
    height: 3.5rem;
    width: 100vw;
    grid-template-columns: 4.2fr 6.2fr 1.6fr;
    align-items: center;
  }

  .lifeos-logo-container {
    height: 2.8rem;
    margin-left: 0.5rem;
    gap: 0.35rem;
  }

  .lifeos-logo-text {
    transform: translateY(0.08rem);
    font-size: 1.2rem;
  }

  .header-middle-section {
    gap: 1rem;
  }

  .header-anchor {
    font-size: 0.7rem;
  }

  .header-login {
    margin-top: 0.7rem;
    margin-left: 0.6rem;
  }
}
@media (max-width: 64rem) and (min-width: 37.5625rem){
  header {
    height: 3.75rem;
    width: 100vw;
    grid-template-columns: 14.375rem 21.75rem 12.5rem;
    align-items: center;
  }

  .lifeos-logo-container {
    height: 3.75rem;
    margin-left: 2.5rem;
    gap: 0.35rem;
  }

  .lifeos-logo-text {
    font-size: 1.6rem;
  }

  .header-middle-section {
    gap: 1rem;
  }

  .header-anchor {
    font-size: 1rem;
  }

  .header-login {
    margin-top: 1rem;
    margin-left: 0.6rem;
  }
}