header {
  position: fixed;
  top: 0rem;
  left: 0rem;

  display:grid;
  grid-template-columns: 0.7fr 1.7fr 0.6fr;

  height: 4.5rem;
  width: 100%;
  border-bottom: solid 2px rgb(190, 190, 190);
  background-color: white;

  z-index: 100;
}

.lifeos-logo-container {
  height: 4.5rem;
  margin-left: 4rem;

  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.lifeos-logo {
  height: 60%;
}

.lifeos-logo-text {
  font-size: 2rem;
}

.header-middle-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-anchor {
  color: rgb(63, 63, 63);
  text-decoration: none;
}

.header-right-section {
  height: inherit
}

.header-login {
  margin-top: 1.2rem;
  margin-left: 2rem;
  height: 50%;
}