.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.12rem;
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 1.12rem;
}


.why {
  margin-top: 8rem;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.about-lifeOS {
  font-size: 2.25rem;
  width: 45rem;

}

